h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
  font-size: 28px;
}

body {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  background-color: #12a163;
  color: #ff1a4c;
}

.player {
  width: 90%;
  height: 216px;;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.dealer {
  width: 90%;
  height: 216px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  height: 100%;
}

#deckD {
  display: block;
}

.card > img {
  width: 100%;
  height: 100%;
}

button {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  background-color: #ff721a;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
}

button:hover {
  background-color: #ff1a4c
}
