h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
  font-size: 28px;
}

body {
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  background-image: url("back.jpg");
  background-size: cover;
}

.player {
  width: 90%;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.dealer {
  width: 90%;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 15%;
  height: 100%;
}

#deckD {
  display: block;
}

.card > img {
  width: 100%;
  height: 100%;
}

button {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

#resultsB {
  color: red;

}
